/* CSS Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styling */
:root {
	--default-fonts: system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100vh;
    width: 100%;
}

ul,
li {
	list-style-type: none;
}

#header,
#header ul {
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 32px;
}

#header {
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
}

#hero {
    width: 100%;
    border: 2px solid yellow;
    display: grid;
    align-items: center;
    grid-template-columns: 25% repeat(3, 1fr) 25%;
    grid-template-rows: 150px 400px 100px 150px;
    color: rgb(238, 238, 238);
    background-color: rgb(34, 40, 49);
}

.name {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    font-size: 36px;
    justify-self: end;
}

.profile-pic {
    position: absolute;
    width: 650px;
    height: auto;
    justify-self: center;
    z-index: 0;
}

.quick-links {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.small-about {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.more-about-me {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}


